h1 {
  font-family: var(--heading-font-family);
  font-size: 96px;
  font-weight: bold;
}
h2 {
  font-family: var(--main-font-family);
  font-size: 24px;
  font-weight: normal;
  color: #272142;
}
h3 {
  font-family: var(--main-font-family);
  font-size: 36px;
  font-weight: bold;
  margin: 0;
}
h4 {
  font-size: 40px;
  font-family: var(--heading-font-family);
}

p {
  font-size: 15px;
  font-family: var(--main-font-family);
}

nav li {
  display: inline;
  list-style: none;
  line-height: 42px;
  margin-left: 20px;
}
nav ul {
  padding: 0;
  margin: 0;
}

nav {
  padding: 20px 0;
}

nav a {
  text-decoration: none;
  color: #272142;
}

nav a:hover {
  color: var(--branding-color);
}

nav li.active a {
  color: var(--branding-color);
}
footer .email-link {
  text-decoration: none;
  color: black;
  font-size: 24px;
}

footer .email-link:hover {
  color: var(--branding-color);
}
footer .social-links a {
  margin: 0 20px;
  color: var(--branding-color);
  background-color: var(--seconday-color);
  padding: 10px 14px;
  font-size: 18px;
  border-radius: 50%;
}
footer .social-links a:hover {
  color: white;
  background-color: var(--branding-color);
}
footer {
  margin: 60px 0;
}
footer .contact-box {
  background-color: var(--seconday-color);
  padding: 30px 120px;
  border-radius: 10px;
  margin: 10px 300px;
}
.btn-branding {
  background-color: var(--branding-color);
  color: white;
  border-radius: 4px;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
}
.btn-branding-outline {
  color: var(--branding-color);
  border: 1px solid var(--branding-color);
  border-radius: 4px;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
}
.hero {
  background: var(--seconday-color);
  text-align: center;
  padding: 160px 20px;
}

.project-headings {
  font-size: 40px;
  font-family: var(--heading-font-family);
}
.project-description {
  padding: 0 20px;
}

.content h1 {
  font-size: 50px;
}

.content h2 {
  font-size: 18px;
  font-family: var(--) var(--main-font-family);
  font-weight: bold;
}

.content-container {
  padding: 50px 20px;
}

.content {
  margin: 30px;
}

.content h3 {
  font-size: 24px;
  font-family: var(--) var(--main-font-family);
}
.content-container img {
  border-radius: 10px;
}

.weather-img {
  color: var(--seconday-color);
  border: 100px solid var(--seconday-color);
  border-radius: 4px;
  font-size: 18px;
  line-height: 27px;
  padding: 60px 30px;
}

.ecalyptus-img {
  color: var(--seconday-color);
  border: 80px solid var(--seconday-color);
  border-radius: 4px;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
}
:root {
  --branding-color: #6c63ff;
  --seconday-color: #f9f7fe;
  --heading-font-family: "Playfair Display", serif;
  --main-font-family: "Poppins", sans-serif;
}

@media (max-width: 900px) {
  h1 {
    font-size: 60px;
  }
  h2 {
    font-size: 20px;
  }
  h4 {
    font-size: 18px;
  }
  .hero {
    padding: 80px 20px;
  }
  .project-description {
    padding: 0;
    text-align: center;
  }
  .content-container {
    text-align: center;
    padding: 0;
  }
  footer .contact-box {
    padding: 30px;
    margin: 10px 50px;
  }
  .about-img {
    max-width: 400px;
  }
}
